h1.display-4 {
	color: white;
	background-color:black;
	font-weight: bold;
	letter-spacing: 2px; 
	}
h2{
	font-weight: bold;
	letter-spacing: 1.5px;
	font-variant: small-caps;
}
.blockquote q{
	font-style: italic;
}
main p{
	font-family: Tahoma;
	letter-spacing: 1px;
	line-height:2;
}
nav.navbar{
	height: 67px
}
span{
	font-weight: bold;

}
.mainlogo{
	margin-top: 100px;
	height:700px ;
}
.img-right {
 	  margin: 10px 10px 20px 0;
  	 padding: 0;
 	  float: right;
 	}
.img-left {
 	  margin: 10px 20px 10px 0;
  	 padding: 0;
 	  float: left;
 	}
 main{
 	margin-left: 20px;
 	margin-top:65px;
 }
 aside{

 	background: #D7DEDB;
 }
 .contacts{
 	margin-left: 0px;
 	background-color: black; 
 }
 address{
 	color:white;
 	font-family: Georgia;
	letter-spacing: 1px;
	line-height:2;
 	margin-top:300px;
 	text-align: center;
 	font-size: 30px;
	
 }
 .instagram{

 	font-family: monospace;
 	font-size:25px;


 	}
 div.jumbotron.text-center.fluid{
 	padding-top: 40px;
 	padding-bottom: 20px;
 	margin-bottom:0;
 }